@font-face {
    font-family: "Gilroy";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/gilroy-regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/gilroy-medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/gilroy-semibold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/gilroy-bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/gilroy-light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff");
}

:root {
    --bg-gray: #f6f6f6;
    --dark-gray: #242424;
    --gray: #474747;
    --light-gray: #6b6b6b;
    --yellow: #fbc832;
    --dark-yellow: #c78100;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    font-size: 10px;
    font-family: "Gilroy", Arial, serif;
}

a,
a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1146px;
    margin: 0 auto;
}

.container-narrow {
    max-width: 945px;
    margin: 0 auto;
}

.container-slim {
    max-width: 680px;
    margin: 0 auto;
}

.bg-gray {
    background-color: var(--bg-gray);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 300;
    color: var(--light-gray);
}

h2,
h3,
h4 {
    font-size: 2.8rem;
    line-height: 2.4rem;
    color: var(--dark-gray);
}

h2,
h4 {
    font-weight: 300;
}

h3 {
    font-weight: 600;
}

h5 {
    font-size: 2.2rem;
    color: var(--dark-gray);
}

strong {
    font-weight: 700;
}

.text-sm {
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 400;
    color: var(--dark-gray);
}

.section-line {
    position: relative;
    height: 15rem;
}

.section-line::before,
.section-line::after {
    content: "";
    position: absolute;
    display: block;
    width: 42%;
    height: auto;
    top: 50%;
    border-bottom: 1px solid #eebf3a;
}

.section-line::after {
    right: 0;
}

.section-line::before {
    left: 0;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    color: var(--dark-gray);
    border-radius: 5.8rem;
    padding-right: 2.6rem;
    padding-left: 2.9rem;
    font-size: 2rem;
    min-height: 3.2rem;
    min-width: 17.3rem;
    font-weight: 500;
}

.btn--primary {
    background: linear-gradient(180deg, #ffecb5 0%, #ffe69f 0.01%, #ffd45a 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
}

.btn::after {
    position: absolute;
    border-radius: inherit;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    content: "";
    z-index: -1;
}

.btn--primary::after {
    background: linear-gradient(180deg, #ffde89 0%, #ffcb38 100%);
    box-shadow: 7px 7px 16px #e3e3e3, -3px -4px 8px rgba(255, 255, 255, 0.9), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
}

.btn--primary:hover {
    background: linear-gradient(180deg, #ffeebc 0%, #ffe69f 36.46%, #ffcf48 68.23%, #ffc317 100%);
}

.btn--primary:hover::after {
    background: linear-gradient(180deg, #ffdc81 0%, #e6aa00 100%);
}

.btn--primary:active {
    background: linear-gradient(180deg, #ffe69f 0.01%, #e3b940 0.02%, #ffd24e 100%);
}

.btn--primary:active::after {
    background: linear-gradient(180deg, #ffde89 0%, #ffcb38 100%);
}

.btn--secondary {
    background: linear-gradient(180deg, #fbfbfb 0%, #f6f6f6 100%);
    box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25);
}

.btn--secondary::after {
    background: #f6f6f6;
    box-shadow: 7px 7px 16px #e3e3e3, -4px -4px 8px rgba(255, 255, 255, 0.7), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
}

.btn--secondary:hover {
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 53.12%, #efecec 100%);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), 3px 3px 13px rgba(128, 128, 128, 0.25);
}

.btn--secondary:active {
    background: linear-gradient(180deg, #f1f1f1 1.56%, #fcfafa 100%);
    box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25), inset 0px 4px 13px rgba(0, 0, 0, 0.06);
}

.socials {
    display: flex;
    align-items: center;
}

.socials__item {
    width: 4.9rem;
    height: 4.9rem;
    border-radius: 50%;
    position: relative;
}

.socials__item::after {
    position: absolute;
    border-radius: inherit;
    top: -7px;
    bottom: -7px;
    left: -7px;
    right: -7px;
    content: "";
    z-index: -1;
}

.socials__link {
    height: 100%;
    display: block;
    position: relative;
}

.socials__link svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

.socials__item--primary .socials__link svg {
    fill: var(--bg-gray);
}

.socials__item--primary {
    background: linear-gradient(150.26deg, #ffe28f 6.75%, #ecbd37 91.17%);
    box-shadow: 3px 3px 13px #c18f00;
}

.socials__item--primary::after {
    background: linear-gradient(144.1deg, #ffe193 12.45%, #ffc93f 89.31%);
    box-shadow: 7px 7px 16px rgba(204, 151, 0, 0.6), -4px -4px 8px #ffdb7e, inset 13px 22px 8px #f1c74f;
}

.socials__item--primary:hover {
    background: linear-gradient(150.26deg, #ffeaad 6.75%, #fce6a7 45.73%, #ffc726 91.17%);
}

.socials__item--primary .socials__link svg:hover {
    fill: #ffffff;
    filter: drop-shadow(0px 1px 3px rgba(144, 93, 0, 0.49));
}

.socials__item--primary:active {
    background: linear-gradient(150.26deg, #ffda71 6.75%, #ffcd40 43.24%, #fbc11b 91.17%);
    box-shadow: 2px 2px 6px #c18f00, inset 3px 3px 10px rgba(199, 129, 0, 0.59);
}

.socials__item--primary:active::after {
    background: linear-gradient(144.1deg, #ffe193 12.45%, #ffc93f 89.31%);
    box-shadow: 7px 7px 16px rgba(204, 151, 0, 0.6), -4px -4px 8px #ffdb7e, inset 13px 22px 8px #f1c74f;
}

.socials__item--primary .socials__link svg:active {
    fill: #f2f2f2;
    filter: drop-shadow(0px 0px 5px #d19b00);
}

.socials__item--secondary .socials__link svg {
    fill: #e8a700;
}

.socials__item--secondary {
    background: linear-gradient(145.67deg, #ffffff 15.39%, #e4e4e4 88.3%);
    box-shadow: 3px 3px 13px #b1b1b1;
}

.socials__item--secondary::after {
    background: linear-gradient(144.1deg, #ffffff 12.45%, #fbfbfb 89.31%);
    box-shadow: 7px 7px 16px rgba(213, 213, 213, 0.6), -6px -6px 8px #ffffff, inset 13px 22px 8px #f3f3f3;
}

.socials__item--secondary:hover {
    background: linear-gradient(145.67deg, #ffffff 15.39%, #fafafa 54.13%, #dadada 88.3%);
    box-shadow: 3px 3px 13px #a3a3a3;
}

.socials__item--secondary .socials__link svg:hover {
    fill: #ffb800;
}

.socials__item--secondary:active {
    background: linear-gradient(145.67deg, #e4e4e4 16.92%, #f6f6f6 88.3%);
    box-shadow: 3px 3px 13px #b2b2b2, inset 4px 4px 7px rgba(192, 192, 192, 0.25);
}

.socials__item--secondary:active::after {
    background: linear-gradient(144.1deg, #ffffff 12.45%, #fbfbfb 89.31%);
    box-shadow: 7px 7px 16px rgba(213, 213, 213, 0.6), -6px -6px 8px #ffffff, inset 13px 22px 8px #f3f3f3;
}

.socials__item--secondary .socials__link svg:active {
    fill: #e8a700;
}

.content-link,
.content-btn {
    display: inline-flex;
    align-items: center;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #ad7f00;
    text-decoration: underline;
    text-underline-offset: 2.5px;
    font-weight: 500;
}

.content-link:hover,
.content-btn:hover {
    color: #523c00;
}

.content-link:active,
.content-btn:active {
    color: #f6b400;
}

.content-link svg,
.content-btn svg {
    fill: currentColor;
}

header {
    min-height: 84.5rem;
    position: relative;
}

.header__row {
    margin-bottom: 5.5rem;
}

.header-row {
    padding: 4.7rem 0 1.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-row::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 71.8rem;
    height: 71.3rem;
    background: url(../img/header-dog.jpg) no-repeat;
    z-index: 1;
}

.header-row::after {
    content: "";
    position: absolute;
    top: 47rem;
    right: 16.6rem;
    width: 48.3rem;
    height: 46.9rem;
    background: url(../img/header-cat.png) no-repeat;
    z-index: 1;
}

.header__menu {
    flex: 0 0 75%;
}

.header-menu {
    display: flex;
    position: relative;
    z-index: 5;
}

.header-menu__list {
    display: flex;
}

.header-menu__list:first-child {
    flex: 0 0 55.555%;
}

.header-menu__list:last-child {
    flex: 0 0 44.445%;
}

.header-menu__list li:not(:last-child) {
    margin-right: 3.2rem;
}

.header-menu__link a {
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 600;
    color: var(--dark-gray);
}

.header-menu__link a:hover {
    font-weight: 700;
    color: #000;
    text-decoration: underline;
    text-underline-offset: 2.5px;
}

.header-menu__link a:active {
    font-weight: 700;
    color: var(--light-gray);
    text-decoration: underline;
    text-underline-offset: 2.5px;
}

.header__socials {
    flex: 0 0 25%;
    justify-content: center;
    padding-right: 5rem;
    position: relative;
    z-index: 5;
}

header .socials__item:not(:last-child) {
    margin-right: 4.2rem;
}

.header-content {
    width: 100%;
    position: relative;
    z-index: 5;
}

.header-content::after {
    content: "";
    position: absolute;
    top: 21rem;
    left: -11rem;
    width: 77.2rem;
    height: 40.4rem;
    background: url(../img/header-bg.png) no-repeat;
    z-index: -3;
}

.header-content__slogan {
    font-size: 7.2rem;
    line-height: 8.7rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--dark-gray);
    max-width: 65.9rem;
    margin-bottom: -1rem;
}

.header-content__title {
    max-width: 65.9rem;
    margin-bottom: 1.2rem;
}

.header-content__subtitle {
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 600;
    color: var(--gray);
    padding-right: 48.7rem;
    margin-bottom: 4.3rem;
}

.header-content__text {
    font-size: 2.4rem;
    line-height: 2.9rem;
    font-weight: 600;
    color: var(--dark-yellow);
    padding-right: 71.8rem;
    margin-bottom: 4.5rem;
}

.intro {
    padding: 3% 0 4%;
}

.intro__column {
    flex: 0 0 50%;
}

.intro__column:first-child {
    align-self: start;
    padding-right: 7.5rem;
}

.intro-images {
    position: relative;
    text-align: right;
    background-color: var(--yellow);
    border-top-right-radius: 50vw;
    border-bottom-right-radius: 50vw;
}

.intro-images__img--large {
    padding: 3.5%;
}

.intro-images__img--small {
    display: block;
    position: absolute;
    right: -3%;
    top: 58%;
    border: 8px solid #eebf3a;
    border-radius: 50%;
    max-width: 44%;
}

.intro-content {
    padding-top: 7rem;
    max-width: 47rem;
}

.intro-content__title {
    margin: 0 auto;
    text-align: center;
    max-width: 90%;
    margin-bottom: 2.5rem;
    font-size: 2.8rem;
    line-height: 3.4rem;
    font-weight: 600;
    color: var(--dark-yellow);
}

.intro-content__text:not(:last-child) {
    margin-bottom: 2rem;
}

.help {
    padding: 4.8% 0;
}

.help__title {
    text-align: center;
    margin-bottom: 4.7rem;
}

.help__row {
    justify-content: center;
    margin: 0 -4rem;
}

.help__column {
    flex: 0 0 20%;
    padding: 0 4rem;
}

.help-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-item__link {
    position: relative;
    width: 15rem;
    height: 15rem;
    display: block;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--bg-gray);
    box-shadow: 6px 6px 16px rgba(224, 224, 224, 0.6), -6px -6px 16px rgba(255, 255, 255, 0.77);
    margin-bottom: 2.2rem;
}

.help-item__link--1 {
    background-image: url(../icons/home.svg);
}

.help-item__link--2 {
    background-image: url(../icons/financy.svg);
}

.help-item__link--3 {
    background-image: url(../icons/merch.svg);
}

.help-item__link--4 {
    background-image: url(../icons/transportation.svg);
}

.help-item__link--5 {
    background-image: url(../icons/volunteering.svg);
}

.help-item__link:hover {
    border: none;
    background-color: #fbfbfb;
    box-shadow: 6px 6px 16px rgba(224, 224, 224, 0.6), -6px -6px 16px rgba(255, 255, 255, 0.77);
}

.help-item__link:active {
    background-color: linear-gradient(136.02deg, #fdfdfd 0%, #eaeaea 72.75%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: -6px -6px 16px rgba(224, 224, 224, 0.6), 6px 6px 16px rgba(255, 255, 255, 0.77);
}

.help-item__description {
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: var(--gray);
    text-align: center;
}

.section-line--home {
    background: url(../icons/home.svg) no-repeat center center;
    background-size: 12rem 14rem;
}

.home__row {
    padding: 7% 0 3% 10%;
    margin: 0 -4.7rem;
}

.home__column {
    flex: 0 0 50%;
    padding: 0 4.7rem;
}

.home-item {
    display: flex;
    flex-direction: column;
    color: var(--dark-gray);
}
.home-item__title {
    margin-bottom: 2rem;
}

.pets {
    padding: 3% 0;
    position: relative;
    z-index: 1;
}

.pets__header {
    text-align: center;
}

.pets__title {
    margin-bottom: 2.6rem;
}

.pets__content-link {
    margin-bottom: 2.2rem;
}

.pets__content-link svg {
    margin-left: 1.6rem;
}

.pets__row {
    margin-bottom: 2.6rem;
}

.pets-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-right: -1rem;
    margin-left: -1rem;
}

.pets__column {
    flex: 0 0 33.333%;
    display: flex;
    padding: 0 1rem;
}

.pet-card {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    box-shadow: 6px 6px 16px rgba(163, 163, 163, 0.6), -8px -8px 16px #ffffff,
        inset 4px 4px 16px rgba(203, 203, 203, 0.25);
    border-radius: 5px;
    background-color: var(--bg-gray);
}

.pet-card__img {
    width: 33.5rem;
    overflow: hidden;
}

.pet-card__img img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.pet-card__title {
    text-align: center;
    padding: 0.8rem 0 1rem;
    margin-bottom: 0.8rem;
    border-bottom: 1px solid rgba(214, 214, 214, 0.5);
    line-height: 2rem;
    font-weight: 500;
}

.pet-card p {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
}

.pet-card__subtitle {
    margin-bottom: 0.6rem;
    color: var(--light-gray);
}

.pet-card__description {
    color: var(--dark-gray);
    flex: 1 1 auto;
    margin-bottom: 1rem;
}

.pets__buttons {
    margin-bottom: 6.8rem;
}

.pets-buttons {
    display: flex;
    justify-content: center;
}

.pets-buttons__column--center {
    text-align: center;
    flex: 0 0 36.8rem;
}

.pets-buttons__column--center button:not(:last-child) {
    margin-bottom: 2.7rem;
}

.pets__footer {
    display: flex;
    max-width: 78rem;
    margin: 0 auto;
}

.pets__text {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--dark-gray);
    margin-right: 4.5rem;
}

.pets .socials__item:not(:last-child) {
    margin-right: 4.6rem;
}

.section-line--financy {
    background: url(../icons/financy.svg) no-repeat center center;
    background-size: 12rem 12rem;
}
.financy {
    padding: 3% 0;
}

.financy__row {
    justify-content: center;
    margin: 0 -4.7rem;
    padding-left: 7%;
}

.financy__column {
    flex: 0 0 50%;
    padding: 0 4.7rem;
}

.financy__title {
    text-align: center;
    margin: 4rem 0 2.6rem;
}

.financy__description {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 500;
    color: var(--light-gray);
    margin-bottom: 4rem;
}

.financy-content__text,
.financy-content__list {
    font-size: 1.6rem;
    line-height: 2.9rem;
    font-weight: 400;
    color: var(--dark-gray);
}

.financy-content__caption,
.financy-content__text,
.financy-content__list {
    margin-bottom: 2.4rem;
}

.financy ol li {
    list-style-position: inside;
}

.section-line--merch {
    background: url(../icons/merch.svg) no-repeat center center;
    background-size: 12rem 10rem;
}

.merch {
    padding: 1.5% 0;
}

.merch__body {
    padding-left: 8.5%;
    margin: 2.5rem 0;
}

.merch-content__title {
    margin-bottom: 2.4rem;
}

.merch-content__text,
.merch-content__list {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--dark-gray);
}

.merch-content__text {
    line-height: 2.7rem;
}

.merch-content__list {
    line-height: 2.5rem;
}

.merch-content:not(:last-child) {
    margin-bottom: 4rem;
}

.merch ul li {
    list-style-type: disc;
    list-style-position: inside;
}

.merch__link {
    padding-left: 8.5%;
}

.section-line--transportation {
    background: url(../icons/transportation.svg) no-repeat center center;
    background-size: 12rem 13rem;
}

.transroptation {
    padding: 2% 0 1%;
    position: relative;
    z-index: 1;
}

.transportation__body {
    margin-top: 2.5rem;
    padding-left: 8.5%;
}

.transroptation__title {
    margin-bottom: 2.4rem;
}
.transroptation__text {
    margin-bottom: 2.5rem;
}

.section-line--volunteering {
    background: url(../icons/volunteering.svg) no-repeat center center;
    background-size: 12rem 10rem;
}

.volunteering {
    padding: 3% 0;
    position: relative;
    z-index: 1;
}

.volunteering__row {
    align-items: center;
}

.volunteering__column {
    flex: 0 0 50%;
}

.volunteering__column:first-child {
    padding-right: 7.7rem;
}

.volunteering-image {
    position: relative;
    text-align: right;
    background-color: var(--yellow);
    border-top-right-radius: 50vw;
    border-bottom-right-radius: 50vw;
}

.volunteering-image img {
    padding: 3.5%;
}

.volunteering-content {
    max-width: 47rem;
}

.volunteering-content__title {
    margin-bottom: 2.4rem;
}

.volunteering-content__text {
    margin-bottom: 2.9rem;
}

.news {
    padding: 3% 0% 4%;
}

.news__title {
    text-align: center;
    margin-bottom: 2.6rem;
}

.news__body {
    padding-left: 9%;
}

.news__item {
    display: flex;
    align-items: center;
}

.news-content:not(:last-child) {
    margin-bottom: 4rem;
}

.news-content__img {
    flex: 0 0 14rem;
    height: 14rem;
    overflow: hidden;
}

.news-content__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.news-content__body {
    flex: 1 1 auto;
}

.news-content__text {
    padding-left: 3.5rem;
    max-width: 63rem;
}

.news-content__text a {
    color: inherit;
}

.news__btn {
    margin-top: 2.4rem;
}

.news__btn:focus {
    outline: none;
    color: #523c00;
}

.news-hidden {
    margin-top: 4rem;
}

.hidden {
    display: none;
}

.about-us {
    padding: 3.5% 0;
    position: relative;
    z-index: 1;
}

.about-us__title {
    text-align: center;
}

.about-us__body,
.about-us__footer {
    padding-left: 9%;
}

.about-us__body {
    margin-bottom: 4.5rem;
}

.about-us__info {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--dark-gray);
}

.about-us__subtitle {
    line-height: 2.6rem;
    font-weight: normal;
}

.about-us__content a {
    color: inherit;
}

.about-us__title,
.about-us__info,
.about-us__subtitle {
    margin-bottom: 2.4rem;
}

.about-us__content {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 400;
    color: var(--dark-gray);
}

.about-us__text {
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 400;
    color: var(--light-gray);
    margin-bottom: 1.6rem;
}

.about-us__socials {
    padding-left: 0.7rem;
}

.about-us .socials__item:not(:last-child) {
    margin-right: 3.4rem;
}

.thanks {
    height: 74.1rem;
    position: relative;
    background: url(../img/thanks-bg.jpg) no-repeat center center / cover;
}

.thanks__content {
    position: relative;
    top: 30.3rem;
    left: 13.4rem;
    display: inline-block;
}

.thanks__content::before {
    position: absolute;
    content: "";
    display: block;
    border-top-right-radius: 50vw;
    border-bottom-right-radius: 50vw;
    background-color: #322d1e;
    mix-blend-mode: soft-light;
    height: 52.1rem;
    width: 61.5rem;
    top: -18.4rem;
    left: -13.4rem;
}

.thanks__content::after {
    position: absolute;
    content: "";
    display: block;
    background: url(../icons/paw.png);
    bottom: 1.2rem;
    right: -8rem;
    height: 7.1rem;
    width: 7.1rem;
}

.thanks__content p {
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 7.7rem;
    color: #ffffff;
}

footer {
    padding: 4rem 0 1.6rem;
}

.footer__row {
    justify-content: space-between;
    margin-bottom: 2.4rem;
}

.footer-menu__list {
    display: flex;
}

.footer-menu__link:not(:last-child) {
    margin-right: 4rem;
}

.footer-menu__link a {
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: 600;
    color: var(--gray);
    display: inline-block;
    border-bottom: 1px solid var(--gray);
}

.footer__copyright {
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: #b3b3b3;
    text-align: center;
}
